#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Растягивает блок по всем четырем сторонам */
  z-index: -1;
  pointer-events: none;
}

/* Принудительно заставляем холст внутри библиотеки заполнять всё пространство */
#particles-js canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.fadein-text {
  opacity: 0;
  animation: fadeIn 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 2s;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  border-radius: 50%;
  animation: Rotate360 5s cubic-bezier(0.68, -0.6, 0.32, 1.6) infinite;
}

.itch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Анимка в начале */

.blackScreen {
  animation: fadeInReverse 1.5s cubic-bezier(0.5, 0, 0.75, 0) forwards;
  background: black;
  padding: 100vh;
  position: fixed;
  transform: translateY(-50px);
  z-index: 3;
  pointer-events: none;
}

.block {
  background-color: rgba(0, 0, 0, 0.3);
  transition:
    border 0.1s ease-out,
    backdrop-filter 0.3s ease-out;

  border-radius: 30px;
  margin-top: 50px;
  min-width: 600px;
  max-width: 600px;
  padding: 30px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px) brightness(2);

  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px) brightness(3);
  }
}

.links {
  transition:
    border 0.3s ease-out,
    backdrop-filter 0.5s ease-out;
  border-radius: 10px;
  margin: 40px 30vw;
  background-color: rgba(41, 43, 56, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px) brightness(2);

  &:hover {
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px) brightness(3);
  }
}

.contact {
  position: relative;
  margin: 10px 20px 10px 20px;
  z-index: 1;
  image-rendering: pixelated;
  border-radius: 0px;
}

.v1 {
  position: relative;
  z-index: 2;
  mix-blend-mode: screen;
}
