* {
    font-family: 'Press Start 2P';
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: 
        linear-gradient(to top, #000000, transparent),
        url('images & videos/background.jpg') center/cover no-repeat fixed;
}


main {
    margin-right: 560px;
}

aside {
    position: absolute;
    right: 20px;
    top: 60%; /* Отступ сверху */
    width: 500px;
    background-color: rgba(0,0,0,0.3); /* Более тёмный */
    border-radius: 30px;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 50px 0;
    clear: both;
    background: rgba(0,0,0,0.7);
    margin-top: 50px;
}

video, img {
    border-radius: 30px;
    margin: 20px 0;
    max-width: 100%;
}

h1 {
    margin: 20px 500px;
    font-size: 40px;
    text-align: center;
    color: #faf;
    border: 10px outset rgba(255,200,255,0.5);
    padding: 30px;
}

p {
    margin: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
